@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    header {
        display: grid;
        background-image: url(home-photo-large.jpg);
        background-size: cover;
        grid-template-rows: auto auto 500px auto;
    } 
    
    header img {
        width: 10em;
        margin-top: 1em;
        margin-left: 2em;
    }
    
    header h1 {
        font-size: 1.75em;
        margin: 1.2em 0 0 3.5em;
    }
    
    header nav {
        font-size: 2em;
        grid-area: 1 / 3 / 2 / 6;
    }
    
    .subheading { font-size: 3em; }
    
    .shoplink { font-size: 1.5em; }
    main article img { height: 14em; }
    .homehours { font-size: 1em; }
    .hometours { font-size: 1em; }
    
    
    /*ADVENTURE TOURS PAGE*/
    
    #toursh1 { 
        text-align: left;
        padding-left: 2em;
        font-size: 2.5em;
    }
    
    .adventuretours {
        font-size: 1em;
        flex-basis: 30%;
    }
    
    #tourimage {
        align-self: center;
        max-width: 100%;
    }
    
     /*SALES PAGE*/
    
    #salespic {width: 50%;}
    #bikes { font-size: 1.5em; }
    
    #bikes h3 {
        margin: .5em 10em .5em 10em;
    }
    
    #bikes div {
        margin: auto 10em auto 10em;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}