/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

nav, main { margin: 2rem auto;}

header {
    display: grid;
    background-image: url(home-photo-small.jpg);
    background-size: cover; 
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding-bottom: 1em;
    padding-right: 1em;
}

header h1 {
    grid-area: 1 / 2 / 1 / 4;
    font-size: 1em;
    font-family: 'Fjalla One', sans-serif;
}

header img {
    width: 4em;
    height: auto;
    padding: 0;
    margin: .25em 0 0 .5em;
    grid-area: 1 / 1 / 1 / 1;
}

.subheading {
    grid-area: 4 / 2 / 4 / 4;
    font-size: 1.5em;
    text-align: center;
    font-family: cursive;
    background: rgba(225, 225, 225, 0.5); 
    margin-left: 4em;
    padding: .5em;
}

header button {
    grid-area: 1 / 3 / 1 / 3;
    background-color: white;  
}

header button:hover {box-shadow: 10px 10px 10px gray;}

nav { font-family: 'Yanone Kaffeesatz', sans-serif; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

nav ul li a {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

nav ul li.active a { text-decoration: underline; }

nav ul li:hover {
    background-color: #ddd;
    color: black;
}

nav ul.navigation { display: none; }

@media only screen and (max-width: 37.5em) {
    .navigation.responsive {display: grid !important;}
	.navigation.responsive li { background-color: dimgray;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; padding: .5em; font-size: 1.5em; }
	.navigation.responsive li a { 
        padding: .5rem; 
        text-align: left;	
        text-decoration:none; 
    }
	.navigation.responsive li:hover { background-color: #ddd; color: black;}
    .navigation.responsive li a:hover {color: black;}
}

article.homehours {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray; 
    padding: 1em;
    margin: 1em;
}

.shoplink {
    text-decoration: none;
    color: white;
} 

.homeshopbikes {
    background-color: darkgoldenrod;
    color: white;
    padding: .25em;
    font-family: 'Fjalla One', sans-serif;
}

.homeshopbikes:hover {box-shadow: 10px 10px 10px gray;}

.homeimage {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

main article.hometours {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

#adventure {
    background-color: darkgoldenrod;
    color: white;
    padding: .25em;
    font-family: 'Fjalla One', sans-serif;
}
#adventure:hover {box-shadow: 10px 10px 10px gray;}


#homefalls { display: none; }
#address { display: none; }

footer {
    background-color: dimgrey;
    padding: .5rem;
}

footer aside {
    color: #ffffff;
    font-size: .75em;
    text-align: center;
}
footer>p {
    color: #ffffff;
    font-size: .5em;
    text-align: center;
}

footer p a {
    color: white;
}

/*ADVENTURE TOURS*/

.tourimage {
    box-shadow: 10px 10px 10px gray;
    align-self: center;
    max-width: 80%;
}

#toursh1 {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: .15em;
}

#tourspan { font-size: .4em; }

.adventuretours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    border-style: solid;
    border-color: dimgray;
    padding: .75em;
    font-size: .75em;
}

.tourinfo {
    list-style-type: none;
}

/*SALES PAGE*/

#salesh1 {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: .15em;
}


#bikes {
	display: flex;
    flex-direction: column;
	list-style: none;
    margin: .5em;
    font-size: 1em;
}

#bikes h3 {
    background-color: darkgoldenrod;
    color: white;
    padding: .5em;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px gray;
}

#bikes div {
    background: rgba(225, 225, 225, 0.5);
    padding: .5em;
    flex-flow: column nowrap;
}

.salespic {width: 75%;}



/*EVENTS PAGE*/

.eventmain {
    display: flex;
    flex-direction: column;
}

 .eventheader {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: dimgray;
    color: white;
    padding: .15em;
}

.eventsection {
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: .5em;
    background-color: lightgrey;
}

.eventsection h3 {
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;
    color: darkgoldenrod;
}

#eventspan { font-size: .4em; }

#eventimage {
    box-shadow: 10px 10px 10px gray;
    align-self: center;
    max-width: 80%;
}

#eventdetails {
    align-self: center;
    background-color: dimgray;
    padding: .5em;
    box-shadow: 10px 10px 10px gray;
    margin: 1em;
}

#eventdetails h4 { 
    background-color: lightgray;
    margin: .25em;
    padding: inherit;
    color: darkgoldenrod;
    font-size: 1.25em;
}

#eventdetails table {
    background-color: lightgray;
    margin: 0 .25em .25em .25em;
}

#eventdetails td {
    padding: .5em;
}

#eventdiv {
    font-size: .75em;
    color: red;
    padding-left: 2em;
}


form#event { margin: 1em 3%; }

fieldset {
    margin: 1.5em 0;
    border: dimgray solid 4px;
}
legend {
    color: #ffffff;
    margin-left: 6%;
    padding: .5em;
    border: dimgrey solid 1px;
    background-color: darkgoldenrod;
    font-size: 1.5em;
 
}
label {
    display: block;
    margin: .5em;
}
label span {
    display: block;
    font-size: .8em;
    color: dimgrey;
    padding-top: .9em;
    padding-bottom: .2em;
}
span#ratingvalue {
    display: inline;
    margin: 1em;
    color: red;
}
input.submitBtn {
    color: black;
    border: solid 1px #111;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1.2em;
    padding: .6em;
    background-color: yellowgreen;
    box-shadow: 4px 4px 10px #666;
}

/*CONTACT US PAGE*/

#contactmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#contactmain section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: dimgray;
    padding: .75em;
}

#contactmain section h3 {
    background-color: lightgray;
    text-align: center;
    padding: .5em;
    margin: 1em;
    font-size: 1.5em;
}

#contactmain section p {
    background-color: lightgray;
    text-align: center;
    padding: .5em;
    margin: auto;
}

#contactmain section iframe {margin: 1em; align-self: center;}

.thanks {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em;
}


