/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

header, nav, main, footer { 
    font-family: 'Fjalla One', sans-serif;  
}

nav, main { margin: 2rem auto;}

header {
    display: grid;
    background-image: url(home-photo-small.jpg);
    background-size: cover; 
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding-bottom: 1em;
    padding-right: 1em;
}

header h1 {
    grid-area: 1 / 2 / 1 / 4;
    font-size: 1em;
}

header img {
    width: 4em;
    height: auto;
    padding: 0;
    margin: .25em 0 0 .5em;
    grid-area: 1 / 1 / 1 / 1;
}

.subheading {
    grid-area: 4 / 2 / 4 / 4;
    font-size: 1em;
    text-align: center;
    font-family: cursive;
    background: rgba(225, 225, 225, 0.5); 
    margin-left: 4em;
}

header button {
    grid-area: 1 / 4 / 1 / 4;
    background-color: white;
    border: none;   
}

header button:hover {box-shadow: 10px 10px 10px gray;}

nav { 
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

nav ul li a {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

nav ul li.active a { text-decoration: underline; }

nav ul li:hover {
    background-color: #ddd;
    color: black;
}

nav ul.navigation { display: none; }

@media only screen and (max-width: 37.5em) {
    .navigation.responsive {display: grid !important;}
	.navigation.responsive li { background-color: dimgray;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; }
	.navigation.responsive li a { 
        padding: .3rem; 
        text-align: left;	
        text-decoration:none; 
    }
	.navigation.responsive li:hover { background-color: #ddd; color: black;}
    .navigation.responsive li a:hover {color: black;}
}

article.homehours {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray; 
    padding: 1em;
}

.shoplink {
    text-decoration: none;
    color: white;
} 

.homeshopbikes {
    background-color: darkgoldenrod;
    color: white;
    padding: .25em;
}

.homeshopbikes:hover {box-shadow: 10px 10px 10px gray;}

.homeimage {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

main article.hometours {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 1em;
}

#adventure {
    background-color: darkgoldenrod;
    color: white;
    padding: .25em;
}
#adventure:hover {box-shadow: 10px 10px 10px gray;}


#homefalls {
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px gray;
}


footer {
    background-color: dimgrey;
    padding: .5rem;
}

footer aside {
    color: #ffffff;
    font-size: .75em;
    text-align: center;
}
footer>p {
    color: #ffffff;
    font-size: .5em;
    text-align: center;
}

footer p a {
    color: white;
}

/*ADVENTURE TOURS*/

.adventuretours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}













