@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    
    
    header {
        display: grid;
        grid-template-columns: 75px auto auto auto;
        grid-template-rows: auto auto 250px; auto;
        background-image: url(home-photo-medium.jpg);
        background-size: cover;
    }
    header button.hamburger { display: none; }  /* hamburger button does not need to be shown */
    
    header h1 {
        padding: 0;
        grid-area: 1 / 2 / 1 / 4;
        font-size: 1em;
    }

    header img {
        width: 5.5em;
        height: auto;
        padding: .5em;
        margin: 0;
        grid-area: 1 / 1 / 3 / 1;
    }
    
    header nav {
        padding: .25em;
        grid-area: 1 / 2 / 2 / 6;
        font-size: 1.25em;
    }
    
    .navigation { display: flex !important; }
    
    header nav ul li {
        margin: .25em;
        padding: .2em;
        color: black;
        background-color: dimgray;
    }
    
    nav ul li:hover { background-color: #ddd; }
    nav ul li a:hover { color: black; }
    
    .subheading {
        grid-area: 4 / 5 / 4 / 6;
        font-size: 1.75em;
        text-align: center;
        font-family: cursive;
        background: rgba(225, 225, 225, 0.5); 
    }
    
    main {
        display: flex;
        justify-content: space-evenly;     
    }
    
    .homehours { flex-basis: 30%; font-size: .75em; }
    .hometours { flex-basis: 30%; font-size: .75em; }
    .homeimage { flex-basis: 30%; }
     main article img { height: 8em; }
    
    
    /*ADVENTURE TOURS PAGE*/
    
    .adventuretours {
        font-size: .5em;
        flex-basis: 30%;
        padding: 1em;
    }
    
    #tourimage {
        align-self: center;
        max-width: 50%;
    }
    
    
    
    
}