@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    
  header, nav, main, footer { 
    max-width: 64em;
    height: auto;   
  }
  
  header h1 {
    font-size: 3em;
    text-align: center;
  }
  header img {
    width: 15%;
    height: auto;
    margin: 1em; 
  }
  header .subheading { text-align: center;  }

  nav button { display: none; }  /* hamburger button does not need to be shown */
  nav ul { overflow: hidden; }
  nav ul li {
    display: inline;
    float: left;
    border-bottom-style: hidden;
    border-right-style: solid;
    border-width: medium;
    width: 14%;
  }
  nav a {
    display: block;
    text-align: center;
  }
  
.franklinpic {
    float: left;
    width: 60%;
    height: 325px;
    margin-right: 1rem;
}
section picture img { 
   width: 20%;
   float: right;
   margin: 0 1rem 1rem 0;
}

section {
    text-align: left; 
}

  
  section.forecast {            /* show the 10-day forecast with the medium view and up */
      display: block;
      width: 100%;
      margin: 2rem auto;
      background-color: #1177b3;
      color: #ffffff;
      text-align: center;
      padding-bottom: 2rem;
    }  
    table {
        width: 100%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: medium;
        border-color: white;      
    }
    th, td {
        font-size: 1.5em;
        padding: 0 1rem 1rem 0;
    }

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}